.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--white: hsl(0, 0%, 100%);
	--light-gray: hsl(212, 45%, 89%);
	--grayish-blue: hsl(220, 15%, 55%);
	--dark-blue: hsl(218, 44%, 22%);
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: column;
	min-height: 100vh;
	background-color: var(--light-gray);
	font-family: "Outfit", sans-serif;
}

.container {
	max-width: 320px;
    margin: 15px;
	padding: 15px;
	border-radius: 15px;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
	text-align: center;
	background-color: var(--white);
}

img {
	margin: 0 auto;
	max-width: 100%;
	border-radius: 12px;
}

.title {
	margin: 25px 0;
	color: var(--dark-blue);
}

.container p {
	margin-bottom: 25px;
	font-size: 16px;
	color: var(--grayish-blue);
}
